html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
}

* {
  box-sizing: border-box;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.categories p {
  color: black;
  font-style: Italic;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 50px;
  margin: 30px auto;
}

.shop-category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
  margin-top: 50px;
}

.checkout {
  width: 55%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0;
}
.checkout-title {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgrey;
}
.checkout-title__block {
  text-transform: capitalize;
  width: 21%;
}
.checkout-title__block:nth-child(1) {
  width: 30%;
}
.checkout-title__block:last-child {
  width: 9%;
}
.checkout-total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 24px;
}

.product-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.product-container img {
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px;
  transition: all 0.2s ease-in;
}
.product-container button {
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}
.product-container:hover img {
  opacity: 0.8;
}
.product-container:hover button {
  opacity: 0.85;
  display: flex;
}
.product-container .product-footer {
  width: 100%;
  height: 5%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-container .product-footer__name {
  width: 90%;
  margin-bottom: 15px;
}
.product-container .product-footer__price {
  width: 10%;
}

.cartItem-container {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItem-container img {
  width: 30%;
}
.cartItem-container__details {
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cartItem-container__details__name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}/*# sourceMappingURL=all.css.map */